
   * {
       box-sizing: border-box;
   }

   main {
       display: flex;
       justify-content: center;
       background-color: #d9d9d9;
   }

   .book {
       --book-height: 100vh;
       --book-ratio: 1.4;
   }

   .book>div {
       height: var(--book-height);
       width: calc(var(--book-height) / var(--book-ratio));
       overflow: auto;
       background-color: #0a0a0a;
       transform: scale(0.9);
       border-radius: 6px;
       transform-origin: left;
   }

   .book-cover {
       display: flex;
       justify-content: center;
       align-items: center;
       position: absolute;
       z-index: 9;
       text-align: center;
       background: linear-gradient(135deg, black 25%, transparent 25%) -50px 0,
           linear-gradient(225deg, black 25%, transparent 25%) -50px 0,
           linear-gradient(315deg, black 25%, transparent 25%),
           linear-gradient(45deg, black 25%, transparent 25%);
       background-size: 2em 2em;
       background-color: #232323;
       color: white;
       transition: transform 2s;
   }

   .book-cover::before {
       content: "";
       position: absolute;
       width: 20px;
       right: 20px;
       top: 0;
       bottom: 0;
       background-color: #b11509;
   }

   h1 {
       font-family: "Petemoss", cursive;
       font-size: 98px;
       font-weight: 300;
       color: #dbd75d;
            font-family: "Cinzel", serif;
   }

   .separator {
       --separator-size: 8px;
       width: var(--separator-size);
       height: var(--separator-size);
       background-color: #dbd75d;
       margin: 50px auto 60px auto;
       border-radius: 50%;
       position: relative;
   }

   .separator::after,
   .separator::before {
       content: "";
       position: absolute;
       width: 12px;
       background-color: white;
       height: 2px;
       top: calc(50% - 1px);
   }

   .separator::after {
       left: 15px;
   }

   .separator::before {
       right: 15px;
   }

   .book-content {
       transform: scale(0.9) translateY(30px);
       background-color: white !important;
       transition: all 0.3s 1s;
   }

   .book-content h3,
   .book-content p {
       opacity: 0;
       transition: all 0.3s 0.3s;
   }

   h3 {
       padding: 30px;
   }

   .book-content p {
       padding: 0px 30px 10px 30px;
       text-align: justify;
       font-size: 14px;
   }

   .book-cover>div {
       transition: opacity 0s 0.6s;
   }

   .book:hover>.book-cover {
       transform: rotateY(180deg) scale(0.9);
   }

   .book:hover>.book-cover>div {
       opacity: 0;
   }

   .book:hover>.book-content {
       transform: scale(0.9) translateY(0px);
   }

   .book:hover>.book-content h3,
   .book:hover>.book-content p {
       opacity: 1;
   }