.CSSTableGenerator {
  margin-top: 20px;
  padding: 0px;
  width: 100%;
  border: 1px solid #000000;
 overflow: auto;

}

.CSSTableGenerator table {
  border-spacing: 0;
  width: 100%;
  margin: 0px;
  padding: 0px;

}


.CSSTableGenerator tr:nth-child(odd) {
  background-color: rgb(201, 201, 201);

}

.CSSTableGenerator tr:nth-child(even) {
  background-color: #ffffff;
}

.CSSTableGenerator td {
  vertical-align: middle;
  border: 1px solid #000000;
  border-width: 0px 1px 1px 0px;
  text-align: center;
  font-size: 12px !important;
  padding: 7px;
  font-size: 10px;
  font-family: Arial;
  font-weight: normal;
  color: #000000;
}

.CSSTableGenerator tr:last-child td {
  border-width: 0px 1px 0px 0px;
}

.CSSTableGenerator tr td:last-child {
  border-width: 0px 0px 1px 0px;
}

.col {
  width: 100%;
  overflow: auto;
  height: 800px;
}
.CSSTableGenerator tr:last-child td:last-child {
  border-width: 0px 0px 0px 0px;

}

.CSSTableGenerator tr:first-child td {
  background-color: #212529;
  color: #ffffff;
  font-size: 14PX;
}

.CSSTableGenerator tr:first-child td:first-child {
  border-width: 0px 0px 1px 0px;

}

.CSSTableGenerator tr:first-child td:last-child {
  border-width: 0px 0px 1px 1px;

}
.table td,
.table th {
  padding: 10px 0px 10px 6px !important;
}

.table {
  width: 100%;
  height: 900px !important;
}